version: '3.9'
services:
  api:
    build: 
      context: .
      dockerfile: Dockerfile
      target: development
    image: sprocket-factory-api:latest
    ports:
      - 8000:8000
    volumes:
      - ./src/api:/src
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes: 
      - ./src/data:/src/data
      - db:/var/lib/postgresql/data
      - ./src/data/seed_factory_data.sql:/docker-entrypoint-initdb.d/seed_factory_data.sql
volumes:
  db: